@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.section-ttl{
  margin-bottom: 50px;
  background-color: #f5f5f5;
}


// 会員側
// top.html
.list-group{
  border: solid;
  margin: 20px;
}

.list-title{
  text-align: center;
  margin: 10px;
}

.list-group-item{
  border: 0;
}

.text{
  border: solid;
  padding-top: 20px;
  width: 80%;
}